@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Noto+Serif&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
